<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>reply</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h2>댓글 등록</h2>
		<form id="frm" name="frm" method="post" action="/reply/insertReply.do">
		<table class="board_detail">
				<tr>
					<td colspan="2"><textarea id="replyMemo" name="replyMemo"></textarea>
					</td>
				</tr>
			</table>
			<input type="hidden" id="boardIdx" name="boardIdx"
				th:value="${boardIdx }">
			<input type="submit" id="submit" value="저장" class="btn">
		</form>
	</div>
</body>
</html>